VBox {
    -fx-alignment: top-center;
    -fx-padding: 5 0 5 0;
}

#header{
    -fx-font-weight: bold;
}

#midden{
    -fx-border-width: 1 0 1 0;
    -fx-border-color: black;
}

#kader{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

TilePane{
    -fx-background-color: red;
}