/**
 * Created by Jonathan Poelman
 */


VBox {
    -fx-alignment: top-center;
    -fx-padding: 5 0 5 0;
}

#header{
    -fx-font-weight: bold;
}

#middle{
    -fx-border-width: 1 0 1 0;
    -fx-border-color: black;
}

#mainBox{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

#dotted{
    -fx-stroke-dash-array: 4 4 4 4;
}

#white{
    -fx-fill: white;
    -fx-stroke: black;
}

#classNameError{
    -fx-border-color: red;
    -fx-border-width: 2px;
}

#attribute{
    -fx-alignment: center;
}

Button{
    -fx-padding: 2 5 2 5;
}